@{
    ViewBag.Title = "Family";
}
@section Scripts{
    @Scripts.Render("~/Scripts/Custom/family.js")
}

<h2 style="text-align:center">Families</h2>

<div id="familiesTemplate">
    <table id="familiesTable">
        <thead>
            <tr>
                <th>
                    Family Number
                </th>
                <th>
                    Last Visited
                </th>
                <th>
                    Last Visited Points
                </th>
                <th>
                    Max Points
                </th>
            </tr>
        </thead>
        <tbody>
            @*{{each families}}
        <tr id="${ID}" class="familyLineItem">
            <td>
                ${FamilyNumber}
            </td>
            <td>
                ${LastVisitedDate}
            </td>
            <td>
                ${LastVistedAmount}
            </td>
            <td>
                ${MaxQuantity}
            </td>
        </tr>
        {{/each}}*@
            <tr>
                <td>
                    3820HFY4UFY74
                </td>
                <td>
                    11/06/2018
                </td>
                <td>
                    100
                </td>
                <td>
                    130
                </td>
            </tr>
            <tr>
                <td>
                    38HFJFD8Y38YR
                </td>
                <td>
                    11/05/2018
                </td>
                <td>
                    130
                </td>
                <td>
                    130
                </td>
            </tr>
            <tr>
                <td>
                    0988HFHFO8YHUW
                </td>
                <td>
                    11/03/2018
                </td>
                <td>
                    140
                </td>
                <td>
                    130
                </td>
            </tr>
        </tbody>
    </table>

    <div class="btn btn-primary" id="addNewFamily">Add New Family</div>
</div>
<div id="familiesCartTemplate" style="display:none">
    <div>Search</div>
    <input type="text" id="seachText"/>
    <table id="cartInvintory">
        <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Type
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Max Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            {{each items}}
            <tr id="${ID}" class="itemLineItem">
                <td>
                    ${FamilyNumber}
                </td>
                <td>
                    ${LastVisitedDate}
                </td>
                <td>
                    ${LastVistedAmount}
                </td>
                <td>
                    ${MaxQuantity}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
