
@{
    ViewBag.Title = "Pantry 1";
}
@section Scripts{
    @Scripts.Render("~/Scripts/Custom/LoggedIn.js")
}

<h2>Pantry 1</h2>

<div style="width: 500px;">
    <div style="width: 250px; float: left;">
        <div id="InventoryLink">Inventory Manager</div>
    </div>
    <div style="width: 250px; float: right;">
        <div id="FamilyLink">Family Manager</div>
    </div>
</div>

