
@{
    ViewBag.Title = "Volunteer";
}

<h1>Volunteer</h1>
    
<div class="volunteerWelcome">
    
    <h2>Thank you for being willing to help!</h2>
    <form method="post" action="VolunteerForm">
        First Name: <input type="text" name="fname"><br>
        Last Name: <input type="text" name="lname"><br>
        Email: <input type="email" name="email"><br />
        Preferred School<select name="schools">
            <option value="pantry1">Pantry1</option>
            <option value="pantry2">Pantry2</option>
            <option value="pantry3">Pantry3</option>
            <option value="pantry4">Pantry4</option>
        </select><br /><br />

        <input type="submit" value="Submit">
    </form>
</div>

